@import "../layout/general.scss";
@font-face {
    font-family: "Shrikhand";
    src: url(../../police/Shrikhand-Regular.ttf);
}

.header {

font-family: "Shrikhand";
display: flex;
justify-content: center;
height: 75px;
box-shadow: 0px 1px 3px black ;
margin-top: -7px;
margin-left: -8px;
margin-right: -8px;

}


.localisation {

    display: flex;
    justify-content: center;
    
    &__fas {
        ;
    }
}
