@font-face {
    font-family: "Shrikhand";
    src: url(../../police/Shrikhand-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "roboto";
    src: url(../../police/Roboto-Regular.ttf) format("truetype");
}

@font-face {
    font-family: 'roboto_bold';
    src: url(../../police/Roboto-Bold.ttf) format("truetype");
}

@font-face {
    font-family: 'roboto_light';
    src: url(../../police/Roboto-Light.ttf);
}